<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hzjz.pepper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />



    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <application
        android:name=".config.ApplicationUtils"
        android:allowBackup="true"
        android:icon="@mipmap/uspepperlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcherlogo"
        android:theme="@style/ZppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5e48126890f24b7a811c624f1c45767b"/>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ZppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/ZppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.LogoutActivity"
            android:theme="@style/ZppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/ZppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.LessonDetailActivity"
            android:theme="@style/ZppTheme.NoActionBar" />
        <activity
            android:name=".activity.StudentInformationActivity"
            android:theme="@style/ZppTheme.NoActionBar" />
        <activity
            android:name=".activity.EventActivity"
            android:theme="@style/ZppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.UserSearchActivity"
            android:theme="@style/ZppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.CalendarActivity"
            android:theme="@style/ZppTheme.NoActionBar" />
        <activity
            android:name=".activity.InstSearchActivity"
            android:theme="@style/ZppTheme.NoActionBar" />
        <activity
            android:name=".activity.UnRegStuActivity"
            android:theme="@style/ZppTheme.NoActionBar" />
        <activity
            android:name=".activity.StudentDetailActiivty"
            android:theme="@style/ZppTheme.NoActionBar" />
        <activity
            android:name=".activity.RegStuActivity"
            android:theme="@style/ZppTheme.NoActionBar" />
        <activity
            android:name=".activity.RegStuSearchActivity"
            android:theme="@style/ZppTheme.NoActionBar" />
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>